> module System.RCB.Plugins.REST.Configuration where
>
> import System.RCB.Room
> import System.RCB.Plugins.REST.JiraConfig

This is the configuration file of the RSS plugin.

Here the initial definition of the feeds and feed commands:

> jiraConf :: JiraConfig
> jiraConf = JiraConfig
>            { jiraPushs = 
>              [ ("jira query", [Room "username" "room id" Direct])
>              ]
>            , jiraInterval = 60
>            }


> jira_host = ""
> jira_username = ""
> jira_password = ""
